{% extends 'base.html.twig' %}

{% block title %}Список заявок{% endblock %}

{% block body %}

<div class="wrapper">
    <div class="container">
        <h1>Список заявок</h1>
        <div class="create-link"><a href="{{ path('request_create') }}">Создать заявку</a></div>
        <div class="js-uploadable">
            {% include '_new_requests.html.twig' %}
        </div>
    </div>
</div>

{% block javascripts %}
    {{ parent() }}
    <script>
        setInterval(function () {
            $.ajax({
                method: 'POST',
                url: "/new-requests"
            }).done(function (data) {
                $('.js-uploadable').html(data);
            });
        }, 30000);
    </script>
{% endblock %}
{% endblock %}


